* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #ddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ring {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 2;
}

.ring:nth-child(1) {
    border-bottom: 8px solid yellow;
    animation: ring1 2s linear infinite;
}

@keyframes ring1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

.ring:nth-child(2) {
    border-top: 8px solid red;
    animation: ring2 2s linear infinite;
}

@keyframes ring2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

.ring:nth-child(3) {
    border-right: 8px solid green;
    animation: ring3 2s linear infinite;
}

@keyframes ring3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}